@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/*全デバイス共通の設定*/
.cf::after{
    content: "";
    clear: both;
    display: block;
}
img{
    vertical-align: bottom;
    max-width: 100%;
    margin: auto;
}
body{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D0AC32;
    line-height: 1.5;
    letter-spacing: 1.2px;
    font-size: 90%;
}
p{
    line-height: 1.2;
    text-align: left;
}
.wrp{
    width: 90%;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 71px;
    z-index: 100;
}
#logo{
    width: 50%;
    margin-top: 16px;
}
#top_main{
    background-color: black;
    position: relative;
    margin-top: 71px;
    height: 300px;
}
#top_main_title{
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 10;
    width: 80%;
}
#movie{
    position: absolute;
    right: 0;
    width: 90%;
}
#doll1{
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 20%;
}
.part1 h2,
.part4 h2{
    width: 50%;
    padding-top: 30px;
}

#doll2{
    width: 40%;
    margin-top:20px;
}
#doll2_1{
    width: 30%;
    padding-top: 20px;
}
#food_menu{
    display: flex;
    justify-content: space-around;
}
#food_menu li:first-child{
    width: 50%;
    padding-top: 50px;
}
.part1 h3{
    width: 70%;
    margin: 10px 0;
}
#osake{
    margin-top: 30px;
}
.part4 ul li p:last-child{
    margin-bottom: 30px;
}
article:nth-last-of-type(2){
    background-color: #B24C38;
}
#doll3{
    width: 50%;
    margin-left: auto;
}
#doll3_2{
    width: 50%;
}
.part2{
    color: #fff;
}
article:nth-of-type(2) .part2 p{
 font-size: 70%;
}
.part2 ul li:first-child{
    width: 30%;
    margin: 0 auto;
}
.part2 h4{
    text-align: center;
    margin: 10px 0;
    color: #fff;
}
.part2 ul li:last-child{
    margin-bottom: 20px;
}
footer{
    background: #000;
    text-align: center;
    padding: 20px;
}
footer small{
    color: #fff;
    background: #000;
    display: block;
    padding: 20px;
}
article:nth-of-type(3){
    background: #000;
}
.part3 p{
    margin-bottom: 20px;
}
.slider div{
    margin-right: 10px;
}
.part1 h5{
    font-family: 'Fontdiner Swanky', cursive;
    padding: 20px 0 10px 0;
    font-size: 130%;
    color: #D0AC32;
}
#doll4{
    width: 50%;
    margin-left: auto;
}
#righ_part div{
    padding: 20px 0 10px 0;
}
ul#sns_part{
    display: flex;
    padding: 30px 0 20px 0;
    justify-content: flex-end;
}
ul#sns_part li{
    width: 10%;
}
ul#sns_part li:first-child{
    margin-right: 20px;
}
#left_part p,
#right_part p{
    margin-bottom: 5px;
}
#left_part p:nth-of-type(2),
#right_part p:nth-of-type(2){
    font-size: 70%;
}
#gif_anime{
    display: flex;
}
#doll3_1{
    width: 50%;
}
#doll3_2{
    width: 50%;
}
/*クリック前のハンバーガーメニュー*/
/* クリックエリアと位置を指定 ---------------------- */
.btnHamburger {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    margin-left: -25px;
    width: 50px; /* クリックエリアの横幅*/
    height: 50px; /* クリックエリアの高さ*/
    cursor: pointer;
    z-index: 1000;
  }
  
  /* 3本線の1本ごとに共通するスタイルを指定 ---------------------- */
  .btnHamburger .line {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px; /* 横幅 */
    height: 2px; /* 1本辺りの高さ */
    background: #D0AC32; /* 線の色 */
  
    /* 適用するプロパティ、変化する時間、変化する速度 */
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
   }
  
  /* 3本線の各線の位置を指定 ---------------------- */
  .btnHamburger .line_01 { top: 16px; }
  .btnHamburger .line_03 { top: 28px; }
  
  /*クリック前の暗転するカバー*/
  #coverlayer{
      width: 1px;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: #000;
      opacity: 0;
      transition: 0.5s;
      z-index: 998;
  }
  
  /*クリック後のハンバーガーメニュー*/
  /* 最上部の線のスタイル ---------------------- */
  .btnHamburger .line.is-active{
      color: #D0AC32;
  }
  .btnHamburger.is-active .line_01 {
    top: 24px; /* 上から2番目の線の位置に変更 */
  
    /* 線を45度回転 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  
  /* 最下部の線のスタイル ---------------------- */
  .btnHamburger.is-active .line_03 {
    top: 24px; /* 上から2番目の線の位置に変更 */
  
    /* 線を135度回転 */
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  /*クリック後の暗転するカバー*/
  #coverlayer.is-active{
      width: 100%;
      opacity: 0.8;
  }
  /*navのクリック前の状態*/
  nav{
      position: fixed;
      top:60px;
      left:-280px;
      width: 180px;
      opacity: 1;
      z-index: 999;
      
  }
  nav ul{
    height: 100%;
  }
  nav ul li a{
    display: block;
    color: #D0AC32;
    text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      line-height: 50px;
      font-family: 'Fontdiner Swanky', cursive;
  }
  /*navのクリック後の状態*/
  nav.is-active{
      opacity: 1;
      top: 60px;
      left:0;
      right:0;
      bottom: 0;
      margin: auto;
      transition: 0.5s;
  }
  

/* ローディングアニメーション */
.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #B24C38;
    z-index: 9999;
}
.animation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}